alias addalias="vim ~/.aliases"


alias ff="firefox > /dev/null 2>&1 & disown"
alias cln="$TOOLS/CLion/bin/clion.sh 2>&1 & disown"
alias egl="$TOOLS/Eagle/eagle 2>&1 & disown"


alias pof="sudo shutdown -h now"
alias path="export PATH=$PATH:."

alias c="clear"

