[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/home/zhukov/Tools/pycharm-2017.2.3/bin/pycharm.png
Exec="/home/zhukov/Tools/pycharm-2017.2.3/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
OnlyShowIn=Old;
